{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{% block title %}Магазин АТЛАНТ{% endblock %}</title>
<link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
<div id="header">
    <a href="/" class="logo"><img src="{% static "img/logo.jpg" %}"></a>
  <!--   <ul class="menu">
        <li><a href="/">Головна</a></li>
        <li><a href="#">Магазин</a></li>
        <li><a href="#">Готель</a></li>
    </ul>   -->  
</div>
<div id="subheader">    
    <div class="cart">
        {% with total_item=cart|length %}   
        {% if cart|length > 0 %}
        В кошику:
        <a href="{% url 'cart:cart_detail' %}">
            {{ total_item}} шт - {{ cart.get_total_price }} грн.
        </a>
        {% else %}
            Кошик пустий
        {% endif %}
        {% endwith %}
    </div>
</div>
<div id="content">
{% block content %}{% endblock %}
</div>
</body>
</html>
