{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{% block title %}Магазин АТЛАНТ{% endblock %}</title>
<link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
<div id="header">
<a href="/" class="logo">Магазин АТЛАНТ</a>
</div>
<div id="subheader">
    <div class="cart">
        {% with total_item=cart|length %}
        {% if cart|length > 0 %}
        В корзіні:
        <a href="{% url 'cart:cart_detail' %}">
            {{ total_item}} шт ,${{ cart.get_total_price }}
        </a>
        {% else %}
            Корзіна пуста
        {% endif %}
        {% endwith %}
    </div>
</div>
<div id="content">
{% block content %}{% endblock %}
</div>
</body>
</html>
